<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.monitorSys.roleManage.mapper.PermissionsMapper">

    <select id="selectPermissionsByRoleId" resultType="com.neu.monitorSys.entity.Permissions">
        select * from permissions where id in (select permission_id from role_permission where role_id = #{roleId})
    </select>
</mapper>
